<section class="container list" style="width: 75%;">
    <h1 class="title">
        {{- if eq .Kind "taxonomy" -}} {{- i18n .Data.Singular | title -}} {{- print ": " -}} {{- end -}} {{- .Title -}}
    </h1>
    <ul>
        {{ range .Paginator.Pages }}
        <li>
            <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
            <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ partial "pagination.html" . }}
</section>

<section style="width: 25%;">
    {{- $categories := .Site.Taxonomies.categories }} {{- if gt (len $categories) 0 }}
    <div class="widget-categories widget">
        <h4 class="widget__title">Categories</h4>
        <div class="widget__content">
            <ul class="widget__list">
                {{- range $name, $taxonomy := $categories }} {{- with $.Site.GetPage (printf "/categories/%s" $name) }}
                <li class="widget__item">
                    <a class="widget__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                {{- end }} {{- end }}
            </ul>
        </div>
    </div>
    {{- end }} {{- $tags := .Site.Taxonomies.tags }} {{- if gt (len $tags) 0 }}
    <div class="widget-taglist widget">
        <h4 class="widget__title">Tags</h4>
        <div class="widget__content">
            {{- range $name, $taxonomy := $tags }} {{- with $.Site.GetPage (printf "/tags/%s" $name) }}
            <a class="btn" href="{{ .RelPermalink }}" title="{{ .Title }}"><button type="button">
			{{- .Title -}}{{- if .Site.Params.widgets.tags_counter }} ({{ $taxonomy.Count }}){{ end -}}
      </button></a> {{- end }} {{- end }}
        </div>
    </div>
    {{- end }}

</section>